body {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    color: black;
  }

  input#allegro {
    color: grey;
  }

  .erreur {
    color: #ffffff;
    background-color: red;
    border-radius: 5px;
    padding: 5px 10px;
  }

  .succes {
    color: #ffffff;
    background-color: green;
    border-radius: 5px;
    padding: 5px 10px;
  }

  .lead {
    font-size: 1.2rem;
    text-align: justify;
  }

  a {
    text-decoration: none;
  }

  .link {
    color: #00b1ca;
    font-weight: bold;
    text-decoration: none;
  }

  .link:hover {
    color: #25a5c4;
    text-decoration: underline;
  }

  .button {
    cursor: pointer;
    color: #ffffff;
    background-color: #00b1ca;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .button:hover {
    background-color: #25a5c4;
  }

  .input-file {
    display: none;
  }

  h1,
  h3,
  .center {
    text-align: center;
  }

  ol li ul li {
    list-style: none !important;
    position: relative;
  }

  ol li ul li:before {
    content: "*";
    font-size: 0.8rem;
    position: absolute;
    left: -13px;
    bottom: 0px;
  }